{% extends "base.html.twig" %}

{% block title %}{{ parent() }} — {{ point.name }}{% endblock %}

{% block body %}
    <div class="headbox">
        <h2>Точка &laquo;{{ point.name }}&raquo; &mdash; <a href="{{ path('logout') }}">выход</a></h2>
        {% if point.hints > 0 %}Подсказок: {{ point.hints }} (стоимость: {{ point.hintCost }} мин.), в{% else %}В{% endif %}ремя: {{ point.timeLimit }} мин., пропуск точки: {{ point.skipCost }} мин.
    </div>

    {% for info in infos %}
        <table class="teambox" id="team{{ info.team.id }}">
            <tr>
                <td style="width: 30px"><div class="num">№{{ info.team.number }}</div></td>
                <td>
                    <progress value="20" max="100" id="team{{ info.team.id }}progress"></progress>
                </td>
                <td style="width: 120px"><div class="button float" onclick="points.clickDepart({{ info.team.id }});">Финиш точки</div></td>
            </tr>
            <tr>
                <td colspan="3">
                {% for i in 1..point.hints %}
                    <span id="team{{ info.team.id }}hint{{ i }}" class="button" onclick="points.clickHint({{ info.team.id }});">Подсказка №{{ i }}</span>
                {% endfor %}
                </td>
            </tr>
        </table>
    {% endfor %}

    <div class="teamlist">
    {% for info in infos %}
            <span class="button" id="team{{ info.team.id }}arr-ctl" onclick="points.clickArrived({{ info.team.id }})">{{ info.team.number }}</span>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/point.js"></script>
    <script type="text/javascript">
        window.point = { id: {{ point.id }}, time: {{ point.timeLimit }}, hints: {{ point.hints }} };
        window.teams = [{% for info in infos %}{{ info.JSON|json_encode|raw }}{% if not loop.last %},{% endif %}{% endfor %}];

        $.ready(function () {
            points.refreshAllTeams();
            points.tick();
        });
    </script>
{% endblock %}
