{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} — Список квестов
{% endblock %}

{% block body %}
    {% for quest in quests %}
        <li>
            <a href="{{ path('quest_view', {'id' : quest.id}) }}">{{ quest.name }}</a>: {{ quest.stateName }} - {{ quest.date | date('d.m.Y') }}
        </li>
    {% else %}
        нет квестов
    {% endfor %}
{% endblock %}