{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ quest.name }}{% endblock %}

{% block body %}
    <h2>{{ quest.name }} [<a href="{{ path('root_index') }}">Назад</a>]</h2>
    {% if quest.finished %}Квест завершён{% else %}Время начала квеста: {{ quest.date | date('d.m.Y H:i:s') }}{% endif %}
    {% set titles = ['Команда', 'Прохождение', 'Штрафы', 'Итог'] %}
    <table class="editor-list" id="l">
        <tr>
            {% for i, title in titles %}
            <th onclick="admin.sort('l', {{ i }})">{{ title }}</th>
            {% endfor %}
            <th>Финиш</th>
        </tr>
        {% for info in list %}
        <tr>
            <td data-value="{{ info.team.id }}"><a href="javascript:" onclick="admin.toggle({{ info.team.id }})">№{{ info.team.number }} {{ info.team.name }}</a></td>
            <td data-value="{{ info.passing }}">{{ info.formatted(info.passing) }}</td>
            <td data-value="{{ info.penalty }}">{{ info.formatted(info.penalty) }}</td>
            <td data-value="{{ info.total }}">{{ info.formatted(info.total) }}</td>
            <td>{% if not info.team.finished %}<a class="button" href="{{ path('quest_finish', { 'id': info.team.id }) }}">Завершили</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    {% set tt = ['Точка', 'Состояние', 'Посказки', 'Штрафы'] %}
    {% for info in list %}
    <div id="ai{{ info.team.id }}" class="dn alti">
        <h4>{{ info.team.name }} (точные значения только при финише команды)</h4>
        <table class="editor-list">
            <tr>
                {% for title in tt %}
                    <th>{{ title }}</th>
                {% endfor %}
            </tr>
            {% for ti in info.points %}
            <tr>
                <td>{{ ti.point.name }}</td>
                <td>{% if not ti.skipped %}не {% endif %}пропущена</td>
                <td>{{ ti.teamPoint.hintsUsed }} / {{ ti.point.hints }}</td>
                <td data-seconds="{{ ti.penalty }}">{{ info.formatted(ti.penalty) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>В пути</td>
                <td>~</td>
                <td>{{ info.totalHintsUsed }} / {{ info.totalHints }}</td>
                <td data-seconds="{{ info.passing }}">{{ info.formatted(info.passing) }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}

    {% if not quest.finished %}
        <a href="{{ path('quest_finish_force', { id: quest.id }) }}" class="red button" style="margin-top: 32pt">Завершить квест</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/admin.js"></script>
{% endblock %}